body{
  background: black;
}
.App {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #f7f9ff;
  min-height: 100vh;
  justify-content: flex-start;
}
/* HEADER  */
.header-box{
  width: 100%;
}
header{
  position: relative;
  margin-top: auto;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: url(./media/panel.png);
  border-bottom: 3px double rgb(100, 100, 100, .5);
}

.h1-title{
  font-family: 'Stencil Std';
  margin: 0;
  text-shadow: 2px 2px rgba(149, 149, 149, 0.7);
}
.login-box{
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  border-left: 3px double rgb(100, 100, 100, .5);;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-box:hover{
  background-color: rgb(255, 255, 255, 0.2);
}
.login{
  padding: none;
  margin: none;
}
.title-image-box {
  width: 100%;
  height: 160px;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.title-image {
  height: 100%;
  object-fit: scale-down;
}
/* TOON SELECTION*/
.character-selection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.campfire-image {
  /* border: 1px solid white; */
  width: 542px;
  height: 330px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: url(./media/campfire.png);
  margin-bottom: 0;
}
.selection-box {
  /* border: 1px solid white; */
  height: 100%;
}
.amazon-box {
  width: 89px;
}
.assassin-box {
  width: 61px;
}
.necro-box {
  width: 74px;
}
.barb-box {
  width: 86px;
}
.sorc-box {
  width: 73px;
}
.druid-box {
  width: 67px;
}
.pal-box {
  width: 84px;
}
#toon-text{
  font-size: 1.5rem;
  margin-top: 0;
}

/* Armory */
.paste{
  color: rgb(0, 0, 212);
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.armory-box{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}
.mod-select{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mod{
  width: 200px;
  height: 40px;
  border: 2px double rgb(165, 164, 164);
  border-right: 2px double rgb(70, 69, 69);
  border-bottom: 2px double rgb(87, 87, 87);
  margin: 0 0px 20px 0px;
  display: flex;  
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  color: white;
}
.mod:hover{
  background-color: rgb(70, 70, 70);
}
.curr-mod{
  background-color: rgb(87, 87, 87);
}
.coming-soon{
  position: relative;
  padding: 0;
  margin: 0;
}
.coming-soon p{
  color: rgb(241, 145, 145);
  font-size: .75rem;
  position: absolute;
  top: 11px;
  left: 33%;
}

.panel{
  width: 30%;
  min-height: 500px;
  border: 2px double rgb(126, 126, 126);
  border-right: 2px double rgb(44, 44, 44);
  border-bottom: 2px double rgb(87, 87, 87);
  background-image: url(./media/bigpanel.png);
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: opacity 1s ease-in-out;
  margin-bottom: 50px;
}
.weapon-method-container{
  padding: 5px;
}

.panel h2{
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0;
  text-shadow: 1px 1px rgba(149, 149, 149, 0.5);
}
.panel h4{
  margin-bottom: 20px
}
.panel p{
  margin: 0;
  padding: 0;
}
.panel .dropdown{
  margin: 10px 0;
}
.eth-label{
  margin: 0;
}
.base-dmg{
  margin: 5px 0;
  font-weight: bold;
}
.dropdown-weapon-stats{
  width: 50%;
  margin-top: 10px;
}
.mid-armory{

}
.dropdown{
  color: black
}
.dropdown-weapon-selection{
  width: 50%;
  margin-top: 5px !important;
}
.damage-box{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}
.left-damage{
  text-align: right;
  padding: 0 10px 0 10px;
}
.stats-card-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0;
  justify-content: left;
  padding-left: 10%;
}
.stats-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  margin: 5px 0;
  align-items: center;
  /* padding-left: 10%; */
}
.stat{
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-stat-box{
  /* border: 1px solid red; */
  width: 45%;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.right-stat-box{
  /* border: 1px solid red; */
  width: 55%;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.cancel-btn{
  font-size: 1rem;
  /* font-weight: bold; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  margin-top: 2.5px;
  border: 1px double rgb(182, 182, 182);
  color: rgb(97, 49, 49);
  border-radius: 50%;
  background:rgb(184, 113, 113);
  margin-right: 8px
}
.stat-input{
  width: 32px;
  text-align: center;
}
.underscore-line{
  width: 70%;
  height: 3px;
  background: rgb(78, 70, 128);
  opacity: 0.6;
  margin-bottom: 10px;
}
.right-damage{
  text-align: left
}
.dmg-type{
  margin: 0;
}
.phys{
  color:rgb(254, 255, 211)
}
.fire{
  color: rgb(255, 139, 139);
}
.light{
  color: rgb(255, 255, 107);
}
.cold{
  color: rgb(111, 111, 255);
}
.poison{
  color: rgb(153, 255, 153);
}
.right-armory{
}
.weapon-select{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 0 0 0;
}
.weapon-select select{
  width: 40%
}
.weapon-image-div{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 150px;
  overflow: hidden;
  margin-top: 10px;
}
.weapon-image{
  width: 100%;
}

/*  FOOTER  */
.footer-container{
  margin-top: auto;
  width: 100vw;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: url(./media/panel.png);
  border-top: 3px double rgb(100, 100, 100, .5);
}
.footer-link{
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 50%;
}
.github{
  background: url(./media/github.png)
}
.linkedin{
  background: url(./media/linkedin.png)
}
.twitter{
  background: url(./media/twitter.png)
}
.email{
  background: url(./media/email.png);
}
.chase-bianchi{
  text-align: center;
}














/* general */
.hidden{
  opacity: 0;
  display: none;
}